@model A2z.Library.Models.StudentCourse

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>StudentCourse</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label  class="control-label">Student Name</label>
                <select asp-for="StundentID" class="form-control">
                    <option selected>Choose Student...</option>
                    @foreach (var student in ViewBag.student)
                    {
                        <option value="@student.Id">@student.Lastname @student.FirstName</option>
                    }
                </select>
                <span asp-validation-for="StundentID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegistredCourse" class="control-label"></label>
                <select asp-for="RegistredCourse" class="form-control">
                    <option selected>Choose Student...</option>
                    @foreach (var course in ViewBag.course)
                    {
                        <option value="@course.SubjectName">@course.SubjectName</option>
                    }
                </select>
                <span asp-validation-for="RegistredCourse" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

