@model A2z.Library.Models.StudentCourse

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>StudentCourse</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StundentID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StundentID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegistredCourse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegistredCourse)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
